<form action="">
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <mat-form-field>
      <span matPrefix>wang</span>
      <input matInput type="text" placeholder="您的email">
      <span matSuffix>@163.com</span>
      <mat-hint>必填项</mat-hint>
    </mat-form-field> -->
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="您的email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="您的密码">
      </mat-form-field>
      <button mat-raised-button type="button">登录</button>
    </mat-card-content>
    <mat-card-footer class="text-right">
      <p>还没有账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        每日佳句
      </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
        没有一颗心，会因为追求梦想而受伤。当你真心渴望某样东西时，整个宇宙都会来帮忙。
    </mat-card-subtitle>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />	
    <mat-card-content>
        Without a heart, you will be hurt by pursuing your dreams. When you really want something, the whole universe will help.
    </mat-card-content>
  </mat-card>
</form>
