<mat-drawer-container [class.taskmgr-dark-theme]="darkTheme">
  <mat-drawer #drawer class="example-sidenav">
    <app-sidebar (navClick)="drawer.toggle()"></app-sidebar>
  </mat-drawer>
  <div class="site">
    <header>
      <app-header (toggle)="drawer.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
      <!-- <div class="square" [@square]="squareState" (click)="onClick()"></div> -->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-drawer-container>


