<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm, $event)">
  <h2 mat-dialog-title>{{title}}</h2>
  <mat-dialog-content>
    <mat-form-field class="fill-width">
      <input matInput placeholder="列表名称" formControlName="name">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="!myForm.valid">保存</button>
    <button type="button" mat-raised-button mat-dialog-close>关闭</button>
  </mat-dialog-actions>
</form>
