<div class="task-lists">
  <app-task-list
    class="list-container"
    appDrop
    [dropTags]="['task-item', 'task-list']"
    dragEnterClass="drag-enter"
    [appDrag]="true"
    draggedClass="drag-start"
    dragTag="task-list"
    [dragData]="list"
    (dropped)="handleMove($event, list)" 
    [ngStyle]="{'order': list.order}"
    *ngFor="let list of lists$ | async">
    <app-task-header [header]='list.name' (newTask)="launchNewTaskDialog(list)" (moveAll)="launchCopyTaskDialog(list)"
      (ondel)="launchConfirmDialog(list)" (oneditList)="launchEditListDialog(list)">
    </app-task-header>
    <app-quick-task (quickTask)="handleQuickTask($event, list)"></app-quick-task>
    <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="launchUpdateTaskDialog(task)">

    </app-task-item>
  </app-task-list>
</div>
<button class="fab-button" mat-fab type="button" (click)="launchNewListDialog($event)">
  <mat-icon>add</mat-icon>
</button>
